* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
	font-family: 'spotify';
	src: url('font/GothamBook.ttf');
}

div.bg-image {
  background-color: #191414;
  background-image: url('./images/image-dark.png');
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}
.align-right {
  justify-content: flex-end;
  padding-right: 1vw;
}
Nav {
  font-family: 'spotify';
  font-size: 100%;
  font-weight: bold;
}
div.center-button {
  align-items: center;
}