@font-face {
	font-family: 'spotify';
	src: url('../font/GothamBook.ttf');
}

#button_text {
  font-family: 'spotify';
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  color: #191414;
  transition: all 0.2s ease;
  text-decoration: none;
  padding-left: 5pt;
  padding-right: 10pt;
}

#button {
  margin: auto;
  margin-top: 20pt;
  border-radius: 90px;
  padding-top: 10pt;
  padding-bottom: 10pt;
  background: #1DB954;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

#button:hover {
  background: #28a745;
}

#icon {
  margin-left: 10pt;
  width: 26pt;
  height: 26pt;
}