@font-face {
	font-family: 'spotify';
	src: url('../font/GothamBook.ttf');
}
/* button {
  font-family: 'spotify';
  font-size: 5vw;
  font-weight: bold;
  background-color: transparent;

  color: rgb(255, 255, 255, 0.5);
  border: 7px solid #1DB954;
  border-radius: 40px;
  transition: all 0.2s ease;
}
button:hover {
  background: rgba(0,0,0,.3);
  border: 7px solid white;
  color: rgb(29, 185, 84, 0.7);
}
a.login-link{
  display: flex;
  align-items: center;
  justify-content: center;
} */
#button_text {
  font-family: 'spotify';
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  color: black;
  /* border: 7px solid #1DB954; */
  /* border-radius: 90px; */
  transition: all 0.2s ease;
  text-decoration: none;
}

/* #button_text:hover {
  /* background: rgba(0,0,0,.3); */
  /* border: 7px solid white; */
  /* color: rgb(29, 185, 84, 0.7); */


#button {
  position: absolute;
  border-radius: 90px;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 5vw;
  padding-right: 4vw;
  /* border: 7px solid rgba(31, 185, 84); */
  background: rgba(31, 185, 84);
  transition: all 0.2s ease;
  /* border: 3px solid rgba(255, 255, 255, 0.5); */
  /* top: 50%; */
  /* margin: auto; */
  /* width: 50%; */
  /* color:rgb(29, 185, 84, 0.7); */
  /* background-color: #1DB954; */
  /* text-align: center; */
  /* border-radius: 30; */
}
#button:hover {
  background: rgb(67, 237, 127);
  /* border: 7px solid white; */
  /* color: rgb(29, 185, 84, 0.7); */
}
/* a {
  display: flex;
  justify-content: center;
  align-items: center;
} */

