@font-face {
	font-family: 'spotify';
	src: url('../font/GothamBook.ttf');
}
/* button {
  font-family: 'spotify';
  font-size: 5vw;
  font-weight: bold;
  background-color: transparent;

  color: rgb(255, 255, 255, 0.5);
  border: 7px solid #1DB954;
  border-radius: 40px;
  transition: all 0.2s ease;
} */
#user-button {
  /* padding-left: 5vw; */
  /* padding-right: 5vw; */
  background-color: #1DB954;
  padding-top: 14pt;
  padding-bottom: 12pt;
  padding-right: 5pt;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
#user-button-logged {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #1DB954;
  padding-top: 14pt;
  padding-bottom: 12pt;
  padding-right: 5pt;
  border-radius: 90px;
}
#user-button:hover {
  background-color: #28a745;
}

#blank-user {
  width: 20%;
}
#logged-user {
  width: 20%;
}

#blank-text {
  font-size: 20pt;
  font-weight: bold;
  padding-left: 6pt;
  color: #191414;
  font-family: 'spotify';
}

#user-text {
  font-size: 20px;
  font-weight: bold;
  padding-left: 6pt;
  color: #191414;
  font-family: 'spotify';
}