@font-face {
	font-family: 'spotify';
	src: url('../font/GothamBook.ttf');
}

#nav_bar {
    height: 75pt;
}

#logo {
    margin-right: auto;
    height: 75pt;
    padding-left: 10px;
    padding-top: 12px;
}

#dropdown {
    padding-right: 20px;
    padding-top: 10px;
}

#dropdown-icon {
    color: #ebebeb;
    width: 75px;
    height: 75px;
}

#dropdown-icon:hover {
    color: #1DB954;
}

#menu_buttons {
    display: flex;
    float: right;
    height: 75pt;
    align-items: center;
    justify-content: center;
}

.text-divider {
    width: 35pt;
    height: 1px;
    float: left;
}

.nav_text {
    font-size: 20pt;
    font-weight: bold;
    text-decoration: none;
    color: #ebebeb;
    font-family: 'spotify';
}

.nav_text:hover {
    color: #1DB954;
}

#user-container {
    width: fit-content;
    margin-top: 14pt;
    margin-right: 10pt;
    float: right;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
    background-color: #121212;
}