@font-face {
	font-family: 'spotify';
	src: url('../font/GothamBook.ttf');
}

#nav_bar {
    height: 75pt;
}

#logo {
    margin-right: auto;
    height: 75pt;
    padding-left: 10px;
    padding-top: 12px;
}

#dropdown {
    float: right;
    padding-right: 35px;
}

#dropdown-icon {
    color: #ebebeb;
    width: 10vw;
    height: 10vh;
}

#dropdown-icon:hover {
    color: #1DB954;
}

#menu_buttons {
    display: flex;
    float: right;
    height: 75pt;
    align-items: center;
    justify-content: center;
}

.text-divider {
    width: 35pt;
    height: 1px;
    float: left;
}

.nav_text {
    font-size: 20pt;
    font-weight: bold;
    text-decoration: none;
    color: #ebebeb;
    font-family: 'spotify';
}

.nav_text:hover {
    color: #1DB954;
}

#user-container {
    width: 132pt;
    margin-right: 10pt;
    float: right;
}