@font-face {
	font-family: 'spotify';
	src: url('../../../../font/GothamBook.ttf');
}

#button_text {
  font-family: 'spotify';
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  color: #191414;
  transition: all 0.2s ease;
  text-decoration: none;
  padding-left: 2%;
}

#button {
  border-radius: 90px;
  margin-top: 8em;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 3vw;
  padding-right: 3vw;
  background: #1DB954;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

#button:hover {
  background: #28a745;
}

#icon {
  width: 8%;
  height: 8%;
}

#container {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
}