@font-face {
	font-family: 'spotify';
	src: url('../font/GothamBook.ttf');
}
.container-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vw;
  max-height: 85vh;
  min-height: 1vh;
  position: relative;
}
#text {
  position: absolute;
  height: 35vw;
  margin: auto;
  color: #ebebeb;
  font-family: 'spotify';
  font-size: 3vw;
  font-weight: lighter;
  text-align: center;
}

#welcome {
  font-size: 6vw;
  font-weight: bold;
}

@font-face {
	font-family: 'spotify';
	src: url('../font/GothamBook.ttf');
}